LBM1_out.dat
*.log
*.pdb
*.user
*.swp
*.obj
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
_ReSharper*/
*.ipch
*.sdf
*.opensdf
packages/*
[Dd]ebug*/
[Rr]elease*/

